body {
    /* background-color: var(--light-blue); */
    height: 100vh;
    display: flex;
    flex-direction: column;
}



.submit-your-query-form {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.submit-your-query-form h3 {
    color: var(--bright-blue);
    font-size: 1.3rem;
    padding: 2.5rem;
    margin: 0rem;
    border-bottom: 0.1rem solid var(--light-grey);
}

form {
    padding: 1.25rem;
}

.submit-your-query-form input {
    border: 1px solid var(--light-grey);
    margin-bottom: 1.3rem;
}

/* .submit-your-query-form ::placeholder {
    font-family: BoldFont;
} */

.icon-wrap {
    display: flex;
    flex-direction: row-reverse;
}

i.fas.fa-arrow-right {
    color: var(--white);
    position: absolute;
    padding: 1.3rem;
}

.footer-login {
    padding: 1rem;
    text-align: center;
}

.footer-login h6 {
    font-size: 0.8rem;
    word-spacing: 0.1rem;
}

.sumbmit-your-query-textarea textarea {
    margin-bottom: 1.3rem;
    padding: 0.5rem;
    height: 13rem;
}

input.submit-query-button {
    padding: 1.2rem;
    margin-bottom: 3rem;
}

@media only screen and (min-width: 768px) {
    .submit-your-query-container {
        display: flex;
        justify-content: center;
        padding-bottom: 1.5rem;
    }
    .footer-login h6 {
        font-size: 1rem;
    }
    .submit-your-query-form h3 {
        padding: 3rem;
    }
    form {
        padding: 1.45rem;
    }
    .sumbmit-your-query-textarea textarea {
        height: 16rem;
        width: 30rem;
    }
}

@media only screen and (min-width: 1024px) {
    .submit-your-query-container {
        padding-bottom: 3rem;
    }
    form {
        padding: 2rem 2.5rem;
    }
    .submit-your-query-form h3 {
        padding: 4rem;
    }
    .sumbmit-your-query-textarea textarea {
        height: 14rem;
        width: 45rem;
    }
    .query-primary-button {
        width: 10rem;
    }
}

@media only screen and (min-width: 1300px) {
    .sumbmit-your-query-textarea textarea {
        height: 14rem;
        width: 65rem;
    }
}